/* Global CSS */

:root {
  --primary: #57068c;
  --secondary: #ff6e1e;
  --lighter-primary: #8a48b5;
  --darker-secondary: #b64000;
  --bg-color: #ffffff; /* #fffbf7; */
  --black: #000000;
  --gray: #333333;
  --white: #ffffff;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: "Roboto", sans-serif;
  -moz-osx-font-smoothing: "Roboto", sans-serif;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Global CSS Ends */

/* Navbar Style Start */
.nav-bar--container {
  padding: 20px 80px;
  background-color: var(--bg-color);
}

.navbar {
  max-width: 800px;
}

/* .custom-toggler .navbar-toggler-icon{
  color: var(--primary);
} */
/* Change the color of the border when toggled */
/* .navbar .custom-toggler:focus, 
.navbar .custom-toggler:hover, 
.navbar .custom-toggler:active {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary);
  border-color: var(--primary); */
/*} */

/* Change the color of the hamburger lines */
/* Remove default background and border */




.nav-link,
.navbar-brand {
  position: relative;
  text-decoration: none;
  padding: 0;
  display: inline-block;
}
.nav-link span {
  position: relative;
  display: inline-block;
}
.nav-link span::after,
.navbar-brand::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, var(--secondary), var(--primary));
  width: 0;
  transition: width 0.3s ease-in-out;
}
.nav-link.active span::after,
.navbar-brand.active::after {
  width: 100%;
}
/* Navbar Styler Ends */

/* Global page styles */
.main--section--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}


.main--section {
  padding: 20px 80px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  max-width: 800px;
}
.main--section a {
  color: var(--secondary);
  text-decoration: none;
}
.main--section a:visited {
  color: var(--secondary);
}
.main--section a:hover {
  text-decoration: underline;
  color: var(--darker-secondary);
}

/* End of Global page styles */

/* About Section Style */
.about--section {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 70px;
}
.about--section--content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about--section--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about--section-description {
  color: var(--darkblue);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.about--section--img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
}
.about--section--img > img {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  overflow: hidden;
}
/* about Section Style Ends */

/* Publication Section Style */
.publication, .project {
  margin-bottom: 20px;
}

.research--section p, .projects--section p {
  line-height: 1.25rem;
}

.publication-name, .project-name {
  font-size: 1.25rem;
}

.publication-authors, .project-authors {
  font-style: italic;
  color: #444444;
}

.publication-conference {
  color: #222222;
}

.publication-links, .project-links {
  display: flex;
  gap: 20px;
  text-decoration: underline;
  color: var(--secondary);
}


/* Publication Section Style Ends */

/* Footer buttons */
.footer--container {
  width: 100%;
  padding: 20px 30px 20px;
  background-color: var(--bg-color);
}

.footer--social-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.fa-icon {
  font-size: 2em;
  color: var(--primary);
  transition: color 0.2s ease-in-out;
}
.fa-icon:hover {
  color: var(--secondary);
}

/* Footer buttons Ends */

/* Responsive Screens */

@media only screen and (max-width: 1200px) {
  .about--section--title,
  .about--section-description {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .nav-bar--container,
  .main--section {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .footer--container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* Responsive Screens Ends*/
